
networks:
  app-tier:
    external: true

services:
  spark-master:
    image: spark:3.5.0-python3
    user: root
    container_name: spark-master
    networks:
      - app-tier
    ports:
      - "8083:8080"
      - "7077:7077"
    command: bash -c "chmod -R 777 /opt/spark/work && /opt/spark/bin/spark-class org.apache.spark.deploy.master.Master"
    volumes:
      - ../../data_processing:/opt/spark-apps
      - spark_master_data:/opt/spark/work

  spark-worker:
    image: spark:3.5.0-python3
    user: root
    container_name: spark-worker
    networks:
      - app-tier
    ports:
      - "8082:8081"
    environment:
      - SPARK_MASTER=spark://spark-master:7077
    command: bash -c "chmod -R 777 /opt/spark/work && /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077"
    volumes:
      - ../../data_processing:/opt/spark-apps
      - spark_worker_data:/opt/spark/work
    depends_on:
      - spark-master

  gaming-consumer:
    image: spark:3.5.0-python3
    container_name: gaming-consumer
    user: root
    networks:
      - app-tier
    ports:
      - "4040:4040"  # Spark Application UI
    volumes:
      - ../../data_processing:/opt/spark-apps
      - spark_ivy_cache:/root/.ivy2
    command:
      - bash
      - -c
      - |
        mkdir -p /root/.ivy2/cache && 
        chmod -R 777 /root/.ivy2 && 
        /opt/spark/bin/spark-submit \
          --master spark://spark-master:7077 \
          --packages org.apache.spark:spark-sql-kafka-0-10_2.12:3.5.0 \
          --conf spark.executor.memory=2g \
          --conf spark.driver.memory=2g \
          --conf spark.ui.port=4040 \
          /opt/spark-apps/cloud-gaming-consumer.py
    depends_on:
      - spark-master
    restart: on-failure

volumes:
  spark_master_data:
    driver: local
  spark_worker_data:
    driver: local
  spark_ivy_cache:
    driver: local