
name: qoe_dashboard_stack

services:
  backend:
    build: ../../app/backend
    container_name: qoe-dashboard-backend
    restart: unless-stopped
    networks:
      - app-tier

  frontend:
    build: ../../app/frontend
    container_name: qoe-dashboard-frontend
    restart: unless-stopped
    ports:
      - "8080:80"
    depends_on:
      - backend
    networks:
      - app-tier

networks:
  app-tier:
    external: true